<ion-header>
  <ion-toolbar>
    <ion-title>Calculadora de Perímetros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Selecciona una figura</ion-label>
    <ion-select [(ngModel)]="figuraSeleccionada">
      <ion-select-option value="circulo">Círculo</ion-select-option>
      <ion-select-option value="triangulo">Triángulo Escaleno</ion-select-option>
    </ion-select>
  </ion-item>

  <div *ngIf="figuraSeleccionada === 'circulo'">
    <app-circulo></app-circulo>
  </div>
  <div *ngIf="figuraSeleccionada === 'triangulo'">
    <app-triangulo></app-triangulo>
  </div>
</ion-content>